@model App_Data.Models.Role

@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<form asp-action="AddRole">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Ma" class="control-label">Mã</label>
            <input asp-for="Ma" class="form-control" />
            <span asp-validation-for="Ma" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Ten" class="control-label">Tên</label>
            <input asp-for="Ten" class="form-control" />
            <span asp-validation-for="Ten" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>
<div>
    <a asp-action="ShowAllRole" asp-controller="Role" asp-area="Admin">Trở Về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
