@model IEnumerable<App_Data.Models.Blog>
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_ProductsShop.cshtml";
}

<div class="container">
    <div class="row ">
        <!-- =====  BANNER STRAT  ===== -->
        <div class="col-sm-12">
            <div class="breadcrumb ptb_20">
                <h1>Blog</h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
        <!-- =====  BREADCRUMB END===== -->
        <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
            @await Component.InvokeAsync("TopCategory")
            <div class="left_banner left-sidebar-widget mb_50"> <a href="#"><img src="/images/Design/Yellow Shoe Drive Charity Instagram Post Temp - Made with PosterMyWall.jpg" alt="Left Banner" class="img-responsive"></a> </div>
            @*<div class="blog-category left-sidebar-widget mb_50">
                <div class="heading-part mb_20 ">
                    <h2 class="main_title">Blog Category</h2>
                </div>
                <ul>
                    <li><a href="#">Appliances</a></li>
                    <li><a href="#">Mobile Phones</a></li>
                    <li><a href="#">Tablet PC &amp; Accessories</a></li>
                    <li><a href="#">Consumer Electronics</a></li>
                    <li><a href="#">Computers &amp; Networking</a></li>
                    <li><a href="#">Electrical &amp; Tools</a></li>
                    <li><a href="#">Apparel</a></li>
                    <li><a href="#">Bags &amp; Shoes</a></li>
                    <li><a href="#">Toys &amp; Hobbies</a></li>
                    <li><a href="#">Watches &amp; Jewelry</a></li>
                    <li><a href="#">Home &amp; Garden</a></li>
                    <li><a href="#">Health &amp; Beauty</a></li>
                    <li><a href="#">Outdoors &amp; Sports</a></li>
                </ul>
            </div>*@
            @*<div class="left-blog left-sidebar-widget mb_50">
                <div class="heading-part mb_20 ">
                    <h2 class="main_title">Latest Post</h2>
                </div>
                <div id="left-blog">
                    <div class="row ">
                        <div class="blog-item mb_20">
                            <div class="post-format col-xs-4">
                                <div class="thumb post-img"><a href="single_blog.html"> <img src="/images/blog/blog_img_01.jpg" alt="themini"></a></div>
                            </div>
                            <div class="post-info col-xs-8 ">
                                <h5> <a href="single_blog.html">Fashions fade, style is eternal</a> </h5>
                                <div class="date pull-left"> <i class="fa fa-calendar" aria-hidden="true"></i>11 May 2017 </div>
                            </div>
                        </div>
                        <div class="blog-item mb_20">
                            <div class="post-format col-xs-4">
                                <div class="thumb post-img"><a href="single_blog.html"> <img src="/images/blog/blog_img_02.jpg" alt="themini"></a></div>
                            </div>
                            <div class="post-info col-xs-8 ">
                                <h5> <a href="single_blog.html">Fashions fade, style is eternal</a> </h5>
                                <div class="date pull-left"> <i class="fa fa-calendar" aria-hidden="true"></i>11 May 2017 </div>
                            </div>
                        </div>
                        <div class="blog-item mb_20">
                            <div class="post-format col-xs-4">
                                <div class="thumb post-img"><a href="single_blog.html"> <img src="/images/blog/blog_img_03.jpg" alt="themini"></a></div>
                            </div>
                            <div class="post-info col-xs-8 ">
                                <h5> <a href="single_blog.html">Fashions fade, style is eternal</a> </h5>
                                <div class="date pull-left"> <i class="fa fa-calendar" aria-hidden="true"></i>11 May 2017 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        @if (!Model.Any())
        {
            <div style=" text-align: center;">
                <span style="color: red; font-size: 27px;">
                    Không có Blog nào gần đây!!!
                </span>
                <br />
            </div>
        }
        else
        {
            <div class="col-sm-8 col-lg-9 mtb_20">
                <div class="row">
                    <div class="three-col-blog text-left">
                        @foreach (var item in Model.ToList())
                        {
                            <div class="blog-item col-md-6 mb_30" style="height: 500px">
                                <div class="post-format">
                                    <div class="thumb post-img"><a href="/blog/details/@item.Id"> <img src="/images/blog/@item.TenAnh" style="width: 100%" alt="themini"></a></div>
                                    <div class="post-type"><i class="fa fa-music" aria-hidden="true"></i></div>
                                </div>
                                <div class="post-info mtb_20 ">
                                    <h3 class="mb_10"> <a href="/blog/details/@item.Id">@item.TieuDe</a> </h3>
                                    <p>@item.MoTaNgan.</p>
                                    <div class="details mtb_20">
                                        @{
                                            DateTime? ngayTaoNullable = item.NgayTao;
                                            string ngayThangNam = ngayTaoNullable.HasValue ? ngayTaoNullable.Value.ToString("dd/MM/yyyy") : "Không có ngày tạo";
                                        }
                                        <div class="date pull-left"> <i class="fa fa-calendar" aria-hidden="true"></i>@ngayThangNam</div>
                                        <div class="more pull-right"> <a href="/blog/details/@item.Id">Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
                @*<div class="pagination-nav text-center mtb_20">
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>*@
            </div>
        }


    </div>
</div>

