@model IEnumerable<App_Data.ViewModels.ProductDetail.ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .clickable-image {
        cursor: pointer
    }

    tr {
        margin-top: 2px;
    }
</style>

<div id="body_parent">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>QUẢN LÝ SẢN PHẨM</a>
                <a class="breadcrumb-item" href="#">QUẢN LÝ THỰC THỂ SẢN PHẨM</a>
            </nav>
        </div>
    </div>
    <div id="confirm-ds" class="mt-2 mb-2" style="">
        <div style=" position: fixed; top: 90px; right: 26px; z-index: 100;">
            <button class="btn btn-warning ngung_kinh_doanh">
                <i class="fas fa-ban"></i>
                <span>Ngừng kinh doanh</span>
            </button>
            <button class="btn btn-primary thaotac" id="update">
                <i class="far fa-edit"></i>
                <span>Cập nhật</span>
            </button>
        </div>
    </div>
    <div class="notification-toast top-right" id="notification-toast"></div>
    <div id="modal"></div>
    <div class="modal fade" id="modalSanPham"></div>
    <div class="modal fade" id="confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background: #129dc1;">
                    <h5 class="modal-title" id="exampleModalLabel">XÁC NHẬN</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="anticon anticon-close"></i>
                    </button>
                </div>
                <div class="modal-body" style="background: #d3f6ff;">
                    <span id="thongBao"></span>
                </div>
                <div class="modal-footer" style="background: #d0dae3">
                    <button type="button" class="btn btn-primary">Đồng ý</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            <select class="custom-select" style="min-width: 180px;">
                                <option selected="">Catergory</option>
                                <option value="all">All</option>
                                <option value="homeDeco">Home Decoration</option>
                                <option value="eletronic">Eletronic</option>
                                <option value="jewellery">Jewellery</option>
                            </select>
                        </div>
                        <div class="m-b-10">
                            <select class="custom-select" style="min-width: 180px;">
                                <option selected="">Status</option>
                                <option value="all">All</option>
                                <option value="inStock">In Stock </option>
                                <option value="outOfStock">Out of Stock</option>
                            </select>
                        </div>
                        <div class="m-b-10 ml-1">
                            <button class="btn btn-tone" onclick="window.location.href = '@Url.Action("DanhSachSanPhamNgungKinhDoanh", "ProductDetails")'">Sản phẩm ngừng kinh doanh</button>
                        </div>
                        <div class="m-b-10 ml-1">
                            <button class="btn btn-tone">Import Excel</button>
                        </div>
                        <div class="m-b-10 ml-1">
                            <button class="btn btn-tone">Export Excel</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-right">
                    <button class="btn btn-tone" onclick="window.location.href = '@Url.Action("ManageProduct", "ProductDetails")'">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <span>Quản lý sản phẩm</span>
                    </button>
                </div>
            </div>
            <table id="tabe_ViewProduct" class="table" style="width:100%!important">
                <thead>
                    <tr>
                        <th>
                            <div class="checkbox">
                                <input id="check-all" type="checkbox">
                                <label for="check-all"></label>
                            </div>
                        </th>
                        <th style="width:6px">STT</th>
                        <th>Tên</th>
                        <th>Màu Sắc</th>
                        <th>Size</th>
                        <th>Loại</th>
                        <th>Chất liệu</th>
                        <th>Số Lượng</th>
                        <th>Giá bán</th>
                        <th>Trạng thái</th>
                        <th>###</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>
<script>
    var selectedCheckboxes = {};
    var table;
    $(() => checkToshowConfirm())
    const checkToshowConfirm = () => {
        const sumCheck = $('input[type="checkbox"]:checked');
        if (sumCheck.length > 0) {
            $('#confirm-ds').show()
        } else {
            $('#confirm-ds').hide()
        }
    }
    $(document).ready(function () {
        table =
        $('#tabe_ViewProduct').DataTable({
        ajax: {
            url: '@Url.Action("GetProducts", "ProductDetails", new { area = "Admin" })',
            type: 'GET',
            dataType: 'json',
            data: function (d) {
                return {
                    draw: d.draw,
                    start: d.start,
                    length: d.length,
                    searchValue: d.search.value
                };
            },
            cache: false
        },
        serverSide: true,
        paging: true,
        columns: [
            {
                data: "id",
                render: function (data, type, full, meta) {
                    const isChecked = selectedCheckboxes[data.idChiTietSp];
                    const checkedAttribute = isChecked ? 'checked' : '';
                    return `
                        <td>
                            <div class="checkbox" data-id="${data}">
                                <input id="check-item-${data}" class="for_check_box" type="checkbox" "${checkedAttribute}">
                                <label for="check-item-${data}" class="m-b-0"></label>
                            </div>
                        </td>
                    `;
                }
            },
            {
                data: null,
                render: function (data, type, full, meta) {
                    return meta.row + 1;
                }
            },
            {
                data: null,
                render: function (data, type, full, meta) {
                    if (data && data.lstTenAnh && data.lstTenAnh.length > 0 && data.nameProduct) {
                        return `
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded clickable-image" src="/images/anhsanpham/${data.lstTenAnh[0]}" style="max-width: 60px" alt="" data-rowdata='${data.id}'>
                                    <h6 class="m-b-0 m-l-10">${data.nameProduct}</h6>
                                </div>
                            </td>
                        `;
                    } else {
                        return `
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded clickable-image" src="/Admin_assets/images/others/login-3.png" style="max-width: 60px" alt="" data-rowdata='${data.id}'>
                                    <h6 class="m-b-0 m-l-10">${data.nameProduct}</h6>
                                </div>
                            </td>
                        `;
                    }
                }
            },
            {
                data: 'mauSac'
            },
            {
                data: 'size'
            },
            {
                data: 'loai'
            },
            {
                data: 'chatLieu'
            },
            {
                data: 'soLuongTon'
            },
            {
                data: 'giaBan',
                render: function (data, type, full, meta) {
                    if (type === 'display' || type === 'filter') {
                        var formattedPrice = new Intl.NumberFormat('vi-VN', {
                            style: 'currency',
                            currency: 'VND'
                        }).format(data).replace(",00", "");

                        return formattedPrice;
                    } else {
                        return data;
                    }
                }
            },
            {
                data: null,
                render: function (data, type, full, meta) {
                    if (data && data.trangThai == 0) {
                        return `
                        <div class="trangThai">
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Active</div>
                                </div>
                            </td>
                        </div>
                        `;
                    } else {
                        return `
                        <div class="trangThai">
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-danger badge-dot m-r-10"></div>
                                    <div>No Active</div>
                                </div>
                            </td>
                        </div>
                        `;
                    }
                }
            },
            {
                data: null,
                render: function (data, type, full, meta) {
                    const iddata = data.id
                    return `<td class="text-right">
                        <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                            <i class="anticon anticon-edit"></i>
                        </button>
                        <button class="btn btn-icon btn-hover btn-sm btn-rounded delete-button" data-id="${iddata}">
                            <i class="anticon anticon-delete"></i>
                        </button>
                    </td>`;
                }
            },
        ],
            initComplete: function (settings, json) {
            $('#tabe_ViewProduct').on('draw.dt', function () {
                $('.for_check_box').each(function () {
                    const id = $(this).attr('id').replace('check-item-', '');
                    if (selectedCheckboxes[id]) {
                        $(this).prop('checked', true);
                    } else {
                        $(this).prop('checked', false);
                    }
                });
            });

            $('#check-all').on('change', function () {
                const isCheckedAll = $(this).prop('checked');
                    $('input[type="checkbox"].for_check_box').each(function () {
                        const id = $(this).attr('id').replace('check-item-', '');

                        $(this).prop('checked', isCheckedAll);
                        if (isCheckedAll) {
                            selectedCheckboxes[id] = true;
                        } else {
                            delete selectedCheckboxes[id];
                        }
                    checkToshowConfirm();
                });
            });

            $('#tabe_ViewProduct').on('change', 'input[type="checkbox"]', function () {
                const id = $(this).attr('id').replace('check-item-', '');
                if ($(this).prop('checked')) {
                    selectedCheckboxes[id] = true;
                } else {
                    delete selectedCheckboxes[id];
                }

                const totalCheckboxes = $('#tabe_ViewProduct').find('input[type="checkbox"]').length;
                const totalChecked = $('#tabe_ViewProduct').find('input[type="checkbox"]:checked').length;

                console.log(totalCheckboxes);
                console.log(totalChecked);

                $('#check-all').prop('checked', totalChecked === totalCheckboxes);
                checkToshowConfirm();
            });
        }
    });
});
    $(document).on('click', '.clickable-image', function () {
        var rowData = $(this).data('rowdata');
        showProductDetail(rowData);
    })

    function showProductDetail(rowData) {
        $.ajax({
            url: '/Admin/ProductDetails/LoadPartialViewChiTietSanPham?id=' + rowData,
            type: 'GET',
            success: function (result) {
                const modal = $('#modalSanPham');
                modal.empty();
                modal.html(result);
                modal.modal("show")
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });

    }

    $('#tabe_ViewProduct').on('click', '.delete-button', function () {
        const item = $(this)
        const id = $(this).data('id');
        $('#confirm').find('#thongBao').text("Bạn có muốn ngừng kinh doanh mặt hàng này?");
        $('#confirm').modal('show');
        $('#confirm').off('click', '.btn-primary');
        $('#confirm').one('click', '.btn-primary', function () {
            const UrlDelete = '@Url.Action("Delete", "ProductDetails", new { area = "Admin" })';
            var data = new FormData();
            data.append('id', id);
            $.ajax({
                url: UrlDelete,
                type: 'POST',
                data: data,
                contentType: false,
                processData: false,
                success: function (result) {
                    item.closest("tr").remove()
                    delete selectedCheckboxes[id];
                    $('#confirm').modal('hide');
                    showToastDeleteSucsess();
                    table.draw();
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    console.log(status);
                    console.log(error);
                    console.log(xhr);
                }
            });
        })
    });

    function showToastDeleteSucsess() {
        var toastHTML = `<div class="toast fade hide" data-delay="3000">
                    <div class="toast-header">
                        <i class="anticon anticon-info-circle text-primary m-r-5"></i>
                        <strong class="mr-auto">Thông báo</strong>
                        <small>1 seconds ago</small>
                        <button type="button" class="ml-2 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        <span>Đã ngừng kinh doanh một mặt hàng!</span>
                    </div>
                </div>`

        $('#notification-toast').append(toastHTML)
        $('#notification-toast .toast').toast('show');
        setTimeout(function () {
            $('#notification-toast .toast:first-child').remove();
        }, 3000);
    }

    $(document).on('click', '#update', function () {
        const keys = Object.keys(selectedCheckboxes).filter(item => item !== "check-all");
        console.log(keys);
        const container = $("#body_parent").empty();

        var dataGet = {
            LstGuid: keys,
        };
        $.ajax({
            url: '/Admin/ProductDetails/LoadPartialviewDanhSachUpdate',
            type: 'Post',
            data: JSON.stringify(dataGet),
            contentType: 'application/json',
            success: function (result) {
                container.append(result);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                console.log(status);
                console.log(error);
                console.log(xhr);
            }
        });

    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Admin_assets/js/pages/e-commerce-order-list.js"></script>
    <script src="~/Admin_assets/vendors/datatables/jquery.dataTables.min.js" defer></script>
    <script src="~/Admin_assets/vendors/datatables/dataTables.bootstrap.min.js" defer></script>
    <script src="~/Admin_assets/js/pages/datatables.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.8.1/autoNumeric.min.js"></script>
}
