@model IEnumerable<App_Data.ViewModels.ProductDetail.ProductViewModel>

@{
    ViewData["Title"] = "ViewAddSale";
}

<h1>ViewAddSale</h1>
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>QUẢN LÝ SẢN PHẨM</a>
            <a class="breadcrumb-item" href="#">ADD SALE</a>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body" id="formGen">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <h5 style="margin: 0;">QUẢN LÝ SẢN PHẨM</h5>
            <button onclick="generate()" class="btn btn-warning">Tạo thực thể</button>
        </div>
        <div class="m-b-15" style="margin-bottom: 30px">
            <div class="row">
                <div class="col-4" style="margin-top: 10px">
                    <label>NameProduct</label>
                    <select id="IdSale" class="select2" name="IdSale">
                        @foreach (var item in (SelectList)ViewData["IdSale"])
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
