@model App_Data.Models.ProductDetails

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>ProductDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdProduct" class="control-label"></label>
                <select asp-for="IdProduct" class="form-control" asp-items="ViewBag.IdProduct"></select>
                <span asp-validation-for="IdProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdColor" class="control-label"></label>
                <select asp-for="IdColor" class="form-control" asp-items="ViewBag.IdColor"></select>
                <span asp-validation-for="IdColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSize" class="control-label"></label>
                <select asp-for="IdSize" class="form-control" asp-items="ViewBag.IdSize"></select>
                <span asp-validation-for="IdSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTypeProduct" class="control-label"></label>
                <select asp-for="IdTypeProduct" class="form-control" asp-items="ViewBag.IdTypeProduct"></select>
                <span asp-validation-for="IdTypeProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMaterial" class="control-label"></label>
                <select asp-for="IdMaterial" class="form-control" asp-items="ViewBag.IdMaterial"></select>
                <span asp-validation-for="IdMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaoHanh" class="control-label"></label>
                <input asp-for="BaoHanh" class="form-control" />
                <span asp-validation-for="BaoHanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongTon" class="control-label"></label>
                <input asp-for="SoLuongTon" class="form-control" />
                <span asp-validation-for="SoLuongTon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongDaBan" class="control-label"></label>
                <input asp-for="SoLuongDaBan" class="form-control" />
                <span asp-validation-for="SoLuongDaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsNoiBat" /> @Html.DisplayNameFor(model => model.IsNoiBat)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="GiaNhap" class="control-label"></label>
                <input asp-for="GiaNhap" class="form-control" />
                <span asp-validation-for="GiaNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

