<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item">
                <a class="dropdown-toggle">
                    <span class="icon-holder">
                        <i class="anticon anticon-pie-chart"></i>
                    </span>
                    <span class="title">Thống kê</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fab fa-jedi-order"></i>
                    </span>
                    <span class="title">Quản lý sản phẩm</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/Admin/ProductDetails">Danh sách sản phẩm</a>
                    </li>
                    <li>
                        <a href="index-crm.html">CRM</a>
                    </li>
                    <li>
                        <a href="index-e-commerce.html">E-commerce</a>
                    </li>
                    <li>
                        <a href="index-projects.html">Projects</a>
                    </li>
                </ul>             
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-gift"></i>
                    </span>
                    <span class="title">Quản lý voucher</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>              
                <ul class="dropdown-menu">
                    <li>
                        <a href="/Admin/Vouchers/ShowAllVoucher">Hiển thị voucher</a>
                    </li>                 
                </ul>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/Admin/Vouchers/Create">Thêm mới voucher</a>
                    </li>                 
                </ul>
            </li>
        </ul>
    </div>
</div>