<nav class="navbar">
    <p>menu</p>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
        <span class="i-bar"><i class="fa fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse js-navbar-collapse" style="
    background: #7fd8d8;
">
        <ul id="menu" class="nav navbar-nav">
            <li> <a href="/">Home</a></li>
            <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle"
                   data-toggle="dropdown">Collection </a>
                <ul class="dropdown-menu mega-dropdown-menu row">
                    <li class="col-md-3">
                        <ul>
                            <li class="dropdown-header">Women's</li>
                            <li><a href="#">Unique Features</a></li>
                            <li><a href="#">Image Responsive</a></li>
                            <li><a href="#">Auto Carousel</a></li>
                            <li><a href="#">Newsletter Form</a></li>
                            <li><a href="#">Four columns</a></li>
                            <li><a href="#">Four columns</a></li>
                            <li><a href="#">Good Typography</a></li>
                        </ul>
                    </li>
                    <li class="col-md-3">
                        <ul>
                            <li class="dropdown-header">Man's</li>
                            <li><a href="#">Unique Features</a></li>
                            <li><a href="#">Image Responsive</a></li>
                            <li><a href="#">Four columns</a></li>
                            <li><a href="#">Auto Carousel</a></li>
                            <li><a href="#">Newsletter Form</a></li>
                            <li><a href="#">Four columns</a></li>
                            <li><a href="#">Good Typography</a></li>
                        </ul>
                    </li>
                    <li class="col-md-3">
                        <ul>
                            <li class="dropdown-header">Children's</li>
                            <li><a href="#">Unique Features</a></li>
                            <li><a href="#">Four columns</a></li>
                            <li><a href="#">Image Responsive</a></li>
                            <li><a href="#">Auto Carousel</a></li>
                            <li><a href="#">Newsletter Form</a></li>
                            <li><a href="#">Four columns</a></li>
                            <li><a href="#">Good Typography</a></li>
                        </ul>
                    </li>
                    <li class="col-md-3">
                        <ul>
                            <li id="myCarousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <a href="#">
                                            <img src="images/menu-banner1.jpg"
                                                 class="img-responsive" alt="Banner1">
                                        </a>
                                    </div>
                                    <!-- End Item -->
                                    <div class="item">
                                        <a href="#">
                                            <img src="images/menu-banner2.jpg" class="img-responsive"
                                                 alt="Banner1">
                                        </a>
                                    </div>
                                    <!-- End Item -->
                                    <div class="item">
                                        <a href="#">
                                            <img src="images/menu-banner3.jpg" class="img-responsive"
                                                 alt="Banner1">
                                        </a>
                                    </div>
                                    <!-- End Item -->
                                </div>
                                <!-- End Carousel Inner -->
                            </li>
                            <!-- /.carousel -->
                        </ul>
                    </li>
                </ul>
            </li>
            <li> <a href="/ProductDetails">Shop</a></li>
            <li> <a href="blog_page.html">Blog</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages </a>
                <ul class="dropdown-menu">
                    <li> <a href="cart_page.html">Cart</a></li>
                    <li> <a href="checkout_page.html">Checkout</a></li>
                    <li> <a href="product_detail_page.html">Product Detail Page</a></li>
                    <li> <a href="single_blog.html">Single Post</a></li>
                </ul>
            </li>
            <li> <a href="about.html">About us</a></li>
            <li> <a href="contact_us.html">Contact us</a></li>
        </ul>
    </div>
    <!-- /.nav-collapse -->
</nav>