@model App_Data.Models.Voucher

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- Css -->
<div class="container">

    <div class="card">
        <div class="card-header">
            <h4 class="card-title ">Create Voucher <i class="anticon anticon-gift"></i></h4>
        </div>
        <div class="card-body">
            <h4><a asp-action="ShowAllVoucher">Back to List <i class="anticon anticon-fast-backward"></i></a></h4>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold" asp-for="Ten">
                            Tên
                            Voucher:
                        </label>
                        <input asp-for="Ten" id="Ten" placeholder="Nhập tên..."
                               class="form-control" />
                        <span asp-validation-for="Ten" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold">Loại hình KM:</label>
                        <select asp-for="LoaiHinhKm"
                                class="form-control select2"
                                data-placeholder="Vui lòng chọn!">
                            <option label="Chọn loại hình khuyến mãi"></option>
                            <option value="1">Giảm giá theo %</option>
                            <option value="0">Giảm giá tiền mặt</option>
                            <option value="2">Miễn phí ship</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold">Phạm vi sản phẩm:</label>
                        <select id="inputState" asp-for="PhamVi"
                                class="form-control"
                                asp-items="@ViewBag.TypeProduct">
                            <option selected>
                                Áp
                                dụng mọi thể loại
                            </option>
                        </select>
                        <span asp-validation-for="PhamVi" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold">Điều kiện:</label>
                        <input class="form-control" asp-for="DieuKien" />
                        <span asp-validation-for="DieuKien" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold">Nhập số tiền giảm:</label>
                        <input asp-for="MucUuDai" id="MucGiam"
                               class="form-control" />
                        <span asp-validation-for="MucUuDai" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold">Số lượng:</label>
                        <input class="form-control" asp-for="SoLuongTon" />
                        <span asp-validation-for="SoLuongTon"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold">Ngày bắt đầu:</label>
                        <input asp-for="NgayBatDau" id="NgayBatDau"
                               class="form-control" />
                        <span asp-validation-for="NgayBatDau"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold">Ngày kết thúc:</label>
                        <input asp-for="NgayKetThuc" id="NgayKetThuc"
                               class="form-control" />
                        <span asp-validation-for="NgayKetThuc"
                              class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold">Trạng thái:</label>
                        <input asp-for="TrangThai" id="TrangThai"
                               class="form-control" />
                        <span asp-validation-for="TrangThai" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <button class="btn btn-primary bd-0 col-md-6" style="margin-top:30px">Thêm mới</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
