@* @model App_Data.Models.Voucher *@

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container">
        <div class="text-center m-t-30 m-b-40">
            <h2>Subscription plans</h2>
            <p class="w-45 m-h-auto m-b-30">Climb leg rub face on everything give attitude nap all day for under the bed. Chase mice attack feet but rub face.</p>
        </div>
        <div class="row align-items-center" id="monthly-view">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between p-b-20 border-bottom">
                            <div class="media align-items-center">
                                <div class="avatar avatar-blue avatar-icon" style="height: 55px; width: 55px;">
                                <i class="anticon anticon-gift" font-size-25" style="line-height: 55px"></i>
                                </div>
                                <div class="m-l-15">
                                    <h2 class="font-weight-bold font-size-30 m-b-0">
                                    Giảm 10000 @*  @Html.DisplayNameFor(model => model.MucUuDai) *@
                                        <span class="font-size-13 font-weight-semibold">VNĐ</span>
                                    </h2>
                                <h4 class="m-b-0">  Giảm cho đơn từ 40K @* @Html.DisplayNameFor(model => model.Ma) *@</h4>
                                <h5 class="m-b-0">  <i class="anticon anticon-clock-circle"></i>  Có hiệu lực từ 05.10 @* @Html.DisplayNameFor(model => model.Ma) *@</h5>
                            </div>
                            </div>
                        </div>
                        <ul class="list-unstyled m-v-30">
                      
                            <li class="m-b-20">
                                <div class="d-flex justify-content-between">
                                <p style="color:red">
                                    <i class="anticon anticon-clock-circle"></i>
                                    Hạn sử dụng mã từ 05.10 - 10.10
                                </p>
                                </div>
                            </li>
                            <li class="m-b-20">
                                <div class="d-flex justify-content-between">
                                <span class="text-dark font-weight-semibold">  Áp dụng cho mọi sản phẩm</span>
                                </div>
                            </li>                          
                            <li class="m-b-20">
                                <div class="d-flex justify-content-between">
                                <span class="text-dark font-weight-semibold">    Xem chi tiết</span>                               
                                </div>
                            </li>
                        <li class="m-b-20">
                            <div class="d-flex justify-content-between">
                                <p>
                                    Xem chi tiết
                                    Mã giảm 25% tối đa 10000 đồng cho đơn hàng từ 0 đồng sử dụng trên ứng dụng Shopee.<br />
                                    Số lượng mã giảm giá có hạn. Hạn sử dụng đến 09/10/2023 23:59
                                </p>
                        </li>
                    </ul>
                        <div class="text-center">
                            <button class="btn btn-primary">Copy mã</button>
                        </div>
                    </div>
                </div>
            </div>

           
        </div>
